*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(d8.avif) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper{
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input-box p{
    font-weight: 600;
}

.wrapper .remember-forgot{
    display: flex;
    font-weight: 600;
    margin: 15px 0 15px;

}



.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}




.about a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.about a:hover{
    text-decoration: underline;
}

.customer-support .bx-conversation{
    color: #fff;
    font-weight: 600;
}
.customer-support a{
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}


.customer-support a:hover{
    text-decoration: underline;
}

.FAQ a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.FAQ a:hover{
    text-decoration: underline;
}

.mid-section a{
    color: #fff;
    text-decoration: none;
}
.mid-section a:hover{
    text-decoration: underline;
}

.mid-section h1{
    margin: 0 0 20px;
}

.remember-forgot .bx bxs-certification{
    left: 20px;
}





